.header {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .header-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95vw; /* Ensure it covers the full viewport width */
    height: 90vh; /* Ensure it covers the full viewport height */
    object-fit: cover;
    transform: translate(-50%, -50%); /* Center the video */
    z-index: -100; /* Keep the video in the background */
  }
  
  .header-content {
    position: relative;
    z-index: 2; /* Ensure the content is above the video */
    color: #FFFFFF; /* Change the color as needed for visibility */
    max-width: 90%; /* Adjust the max width as needed */
    margin: 0 auto;
  }
  
  .header-content h1,
  .header-content p {
    margin: 0 0 20px; /* Adjust spacing as needed */
  }
  
  /* Ensure the video is responsive */

  /* Adjustments for tablets */
@media (max-width: 868px) {
    .header-video {
      height: 50vh; /* You can adjust the height as needed */
    }
  }
  
  /* Adjustments for smaller devices */
  @media (max-width: 550px) {
    .header-video {
      height: 40vh; /* Adjust based on your design needs */
    }
  }