.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.subscribe-content p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24x;
    line-height: 45px;
    color: #0E0E0E
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.subscribe-btn button {
    background: #000000;
    color: white;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .subscribe {
        flex-direction: column;
    }

    .subscribe-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
   .subscribe {
    margin: 4rem 2rem;
   }
   .subscribe-content h3 {
    font-size: 18px;
    line-height: 32px;
   }
   .subscribe-btn button {
    font-size: 14px;
    line-height: 28px;
   }
}